.team {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &__logo {
    width: 50%;
    max-width: 120px;
  }
}
